
<form action="/add" method="POST">
    <p>TITULO:</p>
    <input type="Text" name="titulo">
    <p>conteudo:</p>
    <textarea name="conteudo"></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>